<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Mendefinisikan bean untuk class Developer -->
    <bean id="developer" class="fandi.spring.app.Developer">
        <property name="name" value="Fandi Akhmad" />
        <property name="experienceYear">
            <value>5</value>
        </property>
    </bean> 
    
    <bean id="softwareCompany" class="fandi.spring.app.SoftwareCompany">
        <!-- Merujuk pada bean "developer" di atas -->
        <property name="leadDeveloper" ref="developer" />
        
        <!-- Mendefinisikan bean rujukan secara embedded dan men set nilai tiap propertynya -->
        <property name="developer">
            <bean class="fandi.spring.app.Developer">
                <property name="name" value="Siraj Sungkar" />
                <property name="experienceYear" value="3" />
            </bean>
        </property>
    </bean>
    
</beans>
